<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<h3>Equipment menu</h3>


<a class="btn btn-primary" href="/equipment-user" role="button">List equipments</a>
<a class="btn btn-primary" href="/add-equip" role="button">Add equipment</a>
<a class="btn btn-primary" href="/equipment-off" role="button">Disabled equipment</a>


<table class="table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Year of production</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>
        <th scope="col">Inspection after[months]</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="equip : ${equipment}">

        <th scope="row" th:text="${equip.id}"></th>
        <td th:text="${equip.name}"></td>
        <td th:text="${equip.yearOfProduction}"></td>
        <td th:text="${equip.status}"></td>
        <td th:text="${equip.location}"></td>
        <td th:text="${equip.inspection}"></td>

        <td><a th:href="'/update-equip?id=' + ${equip.id}">Update</a> / <a th:href="'/delete-equip/' + ${equip.id}">Delete</a>
        </td>
    </tr>
    </tbody>

</table>

<footer th:include="fragments/footer   ::	pagefooter"></footer>
</body>
</html>