<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Equipment menu</h3>

<button><a th:href="'/add-equip/'">Add new equipment</a></button>


<table class="table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Year of production</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>
        <th scope="col">Inspection after[months]</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="equip : ${equipment}">

            <th scope="row" th:text="${equip.id}"></th>
            <td th:text="${equip.name}"></td>
            <td th:text="${equip.yearOfProduction}"></td>
            <td th:text="${equip.status}"></td>
            <td th:text="${equip.location}"></td>
            <td th:text="${equip.inspection}"></td>

            <td> <a th:href="'/update-equip?id=' + ${equip.id}">Update</a> / <a th:href="'/delete-equip/' + ${equip.id}">Delete</a></td>
    </tr>
    </tbody>
    
</table>
<a href="/">Back to home</a>
</body>
</html>