<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<h3>Equipment list</h3>

<table class="table table-dark">

    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Year of production</td>
        <td>Status</td>
        <td>Location</td>
        <td>Action</td>
    </tr>

    <tr th:block th:each="equip : ${equipment}">
            <td th:text="${equip.id}"></td>
            <td th:text="${equip.name}"></td>
            <td th:text="${equip.yearOfProduction}"></td>
            <td th:text="${equip.status}"></td>
            <td th:text="${equip.location}"></td>
        <td> <a th:href="'/orders-by-equip/' + ${equip.id}">Show orders</a></td>
    </tr>
</table>
<footer	th:include="fragments/footer   ::	pagefooter"></footer>
</body>
</html>