<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:object="${order}" th:action="@{/order-user}">
    <table>
        <tr>
            <td>Type: <input th:each="item : ${namesforuser}" type="radio" th:value="${item.id}"
                             th:text="${item.name}" name="name"/> </td>
        </tr>
        <tr>
            Equipment<input type="number" name="equipment"/>
        </tr>
        <tr>
            <td>Note <input type="text" th:type="*{note}" name="note"> </input></td>
            <td th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Name Error</td>
        </tr>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <tr>    <td><input type="submit" value="submit"></td>
        </tr>

    </table>
</form>
</body>
</html>