<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<form action="#" method="post" th:object="${order}" th:action="@{/add-order}">
    <table>
    <tr>
    <td>Type: <input th:each="item : ${name}" type="radio" th:value="${item.id}" th:text="${item.name}" name="name"/> </td>
    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
        <tr> Equipment
            <select th:field="*{id}">
                <option th:each="event:${equipments}" th:value="${event.id}" th:utext="${event}" />
            </select>
        </tr>
    <tr>
        <td>Note <textarea th:type="*{note}" name="note"/> </td>
        <td th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Name Error</td>
    </tr>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <tr>    <td><input type="submit" value="submit"></td>
    </tr>

    </table>
</form>

<div><a href="/equipment">Equipments list</a>
</div>
<div><a href="/">Back to home</a>
</div>
</body>
</html>