<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<h1> formularz</h1>

<form action="#" method="post" th:object="${order}" th:action="@{/end-order(id=${order.id})}">
    <table>
        <tr>
            <td>End note <textarea  th:type="*{end}" name="end"/> </td>
            <td th:if="${#fields.hasErrors('end')}" th:errors="*{end}">Name Error</td>
        </tr>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <tr>    <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>

</body>
</html>