<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Order list</h3>
<th:block th:include="fragments/header :: header"></th:block>
<table border="5px">

    <tr>
        <td>Type</td>
        <td>Created</td>
        <td>Note</td>
        <td>Created by</td>
        <td>End comment</td>
        <td>Ended by</td>
        <td>Ended date</td>
    </tr>

    <tr th:block th:each="u : ${order}">
            <td th:text="${u.name}"></td>
            <td th:text="${u.created}"></td>
            <td th:text="${u.note}"></td>
            <td th:text="${u.user}"></td>
            <td th:text="${u.end}"></td>
            <td th:text="${u.mechanic}"></td>
            <td th:text="${u.ended}"></td>

    </tr>
</table>


</body>
</html>