<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="headerFragment">
<h1><a href="/">HOME</a></h1>

<div sec:authorize="hasRole('ROLE_ADMIN')"> Admin Menu
<p > <a href="/equipment"> Menu Equipments</a>
 <a href="/user"> Menu User</a>
 <a href="/mechanic"> Menu Mechanic</a>
    <a href="/order"> Menu Orders</a> </p>
</div>

<div sec:authorize="hasRole('ROLE_MECH')"> Mechanic Menu
<p><a href="/order-user">New order</a>
<a href="/showOrders">Orders list</a>
    <a href="/ordersHistory">Orders history</a></p>
    <a href="/equipment-user">List equipments</a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
User menu
<p>
    <a href="/order-user">New order</a>
    <a href="/equipment-user">List equipments</a>
</p>
</div>
</body>
</html>