<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<p th:text="#{app.name}">Nazwa aplikacji</p>

<p sec:authorize="isAuthenticated()">
<p>Zalogowany jako: <span sec:authentication="name"></span></p>
</p>
<span sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</span>
<span sec:authorize="!isAuthenticated()">
    <form><button><a href="/login">Zaloguj </a></button></form>
</span>


<div sec:authorize="!isAuthenticated()"><p th:text="'Witaj, ' + ${name} + '!'"/></div>


<footer th:include="fragments/footer   ::	pagefooter"></footer>
</body>
</html>
