<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Equipment menu</h3>

<table class="table table-bordered">

    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Year of production</td>
        <td>Status</td>
        <td>Location</td>
        <td>Inspection after[months]</td>
        <td>Action</td>
    </tr>

    <tr th:block th:each="equip : ${equipment}">
            <td th:text="${equip.id}"></td>
            <td th:text="${equip.name}"></td>
            <td th:text="${equip.yearOfProduction}"></td>
            <td th:text="${equip.status}"></td>
            <td th:text="${equip.location}"></td>
            <td th:text="${equip.inspection}"></td>

            <td> <a th:href="'/update-equip?id=' + ${equip.id}">Update</a></td>
    </tr>
</table>
<a href="/">Back to home</a>
</body>
</html>