<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:include="fragments/header :: headerFragment"></nav>
<button><a th:href="'/add-mech/'">Add new mechanic</a></button>


<table class="table table-bordered">

    <tr>
        <td>Mechanic</td>
        <td>enabled</td>
        <td>Action</td>
    </tr>

    <tr th:block th:each="u : ${mechanic}">
            <td th:text="${u.username}"></td>
            <td th:text="${u.enabled}"></td>
            <td> <a th:href="'/update-mech/' + ${u.id}">Update</a> / <a th:href="'/delete-mech/' + ${u.id}">Disable</a></td>
    </tr>
</table>

<footer	th:include="fragments/footer   ::	pagefooter"></footer>
</body>
</html>