<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button><a th:href="'/add-mech/'">Add new mechanic</a></button>


<table border="5px">

    <tr>
        <td>Mechanic</td>
        <td>enabled</td>
    </tr>

    <tr th:block th:each="u : ${mechanic}">
            <td th:text="${u.name}"></td>
            <td th:text="${u.enabled}"></td>
            <td> <a th:href="'/update-mech/' + ${u.id}">Update</a> / <a th:href="'/delete-mech/' + ${u.id}">Delete</a></td>
    </tr>
</table>

<a href="/">Back to home</a>
</body>
</html>